
<h1> Список книг:</h1>
       
     Название книги: {{sales.publication.book.title}} <br>
     Автор книги: {{sales.publication.book.author}} <br>
     Дата рождения автора: {{sales.publication.book.author.birth_year}} <br>
     Жанр книги:  {{sales.publication.book.genre}} <br>
     Год Написание: {{sales.publication.book.publication_year}} <br>
     Издатель: {{sales.publication.publisher}} <br>
    Дата публикаций: {{sales.publication.publication_date}} <br>
     Тираж: {{sales.publication.circulation}} <br>
     Цена за одну книгу: {{sales.price_per_book}} <br>
     Продано книг: {{sales.quantity_sold}} <br>
     Заработано: {{sales.total_sales_value}} <br>
        <hr>
            
        
  
    